{% extends 'base.html' %}

{% block title %} {{ user.first_name }} {% endblock %}

{% block content %}

<p>You are now viewing {{ user.first_name }}'s page!!!</p>
<div>

  <div>
    <img src="{{ user.image_url }}">
  </div>
 

  <div>
    <h1>LAST NAME: {{ user.last_name }}</h1>

    <form>
      <button
              formaction="/users/{{ user.id }}/edit"
              formmethod="GET">Edit
      </button>
      <button
              formaction="/users/{{ user.id }}/delete"
              formmethod="POST">Delete
      </button>
    </form>

  </div>
</div>

<h2>Posts</h2>

    <ul>
      {% for post in user.posts %}
      <li>
        <a href="/posts/{{ post.id}}">{{ post.title }}</a>
        <small>{{ post.created_at }}</small>
      </li>
      {% endfor %}
    </ul>

    <p><a href="/users/{{ user.id }}/posts/new">Add Post</a></p>

  </div>
</div>
<div>
  <a href="/users"><button>All Users</button></a>
</div>

{% endblock %}